<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="protoBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="protoBinding">
          <protoBufFormatterBehaviour/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="ProtoBuf.Wcf.Sample.TestService" behaviorConfiguration="protoBehaviour">
        <endpoint address="http://localhost:12034/TestService.svc" binding="protoBufBinding" behaviorConfiguration="protoBinding" bindingConfiguration="test" contract="ProtoBuf.Wcf.Sample.ITestService"/>
        <endpoint address="http://localhost:12034/TestService.svc/basic" binding="basicHttpBinding" bindingConfiguration="test" contract="ProtoBuf.Wcf.Sample.ITestService"/>
      </service>
    </services>
    <bindings>
      <protoBufBinding>
        <binding name="test" closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00" maxBufferSize="655360" maxBufferPoolSize="5242880" maxReceivedMessageSize="655360">
          <operationBehaviours>
            <add operationName="GetDataUsingBigDataContract" compressionType="Deflate" />
          </operationBehaviours>
        </binding>
      </protoBufBinding>
      <basicHttpBinding>
        <binding name="test" closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00" maxBufferSize="655360" maxBufferPoolSize="5242880" maxReceivedMessageSize="655360"/>
      </basicHttpBinding>
    </bindings>
    <extensions>
      <bindingExtensions>
        <add name="protoBufBinding" type="ProtoBuf.Wcf.Channels.Bindings.ProtoBufBindingCollectionElement, ProtoBuf.Wcf.Channels, Version=1.0.0.0, Culture=neutral"/>
      </bindingExtensions>
      <behaviorExtensions>
        <add name="protoBufFormatterBehaviour" type="ProtoBuf.Wcf.Channels.Bindings.ProtoBufBindingEndpointBehaviour, ProtoBuf.Wcf.Channels"/>
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>