<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="protoBehaviour">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors> 
    <services>
        <service name="ProtoBuf.Wcf.Sample.TestService" behaviorConfiguration="protoBehaviour">
            <endpoint address="http://localhost:12034/TestService.svc"
            binding="protoBufBinding"
            contract="ProtoBuf.Wcf.Sample.ITestService">
            </endpoint>
        </service>
    </services>
    <!--<bindings>
      <protoBufBinding name="protoBufBinding"></protoBufBinding>
    </bindings>-->
    <extensions>
        <bindingExtensions>
            <add name="protoBufBinding"
               type="ProtoBuf.Wcf.Channels.Bindings.ProtoBufBindingCollectionElement, ProtoBuf.Wcf.Channels, Version=1.0.0.0, Culture=neutral" />
        </bindingExtensions>
    </extensions>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
