<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
        <service name="ProtoBuf.Wcf.Sample.Service1">
            <endpoint address="http://localhost:12034/Service1.svc"
            binding="protoBufBinding"
            contract="ProtoBuf.Wcf.Sample.IService1">
            </endpoint>
        </service>
    </services>
    <!--<bindings>
      <protoBufBinding name="protoBufBinding"></protoBufBinding>
    </bindings>-->
    <extensions>
        <bindingExtensions>
            <add name="protoBufBinding"
               type="ProtoBuf.Wcf.Bindings.ProtoBufBindingCollectionElement, ProtoBuf.Wcf" />
        </bindingExtensions>
    </extensions>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
