<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="protoBinding">
          <protoBufFormatterBehaviour />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <!--<customBinding>
        <binding name="Proto_Large" closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00">
          <httpTransport maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          </httpTransport>
        </binding>
      </customBinding>-->
      <protoBufBinding>
        <binding name="Proto_Large" closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00" 
                 maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
        </binding>
      </protoBufBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_Large" closeTimeout="00:10:00" openTimeout="00:10:00" 
                 sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" 
                 maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" maxDepth="2147483647" maxBytesPerRead="2147483647"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:12034/TestService.svc/proto" binding="protoBufBinding" bindingConfiguration="Proto_Large"
                behaviorConfiguration="protoBinding" contract="TestService.ITestService" 
                name="proto" />
      <endpoint address="http://localhost:12034/TestService.svc/proto" binding="protoBufBinding" bindingConfiguration="Proto_Large"
                behaviorConfiguration="protoBinding" contract="TestService.ITestService"
                name="protoServer" />
      <endpoint address="http://localhost:12034/TestService.svc/basic" binding="basicHttpBinding"
                contract="TestService.ITestService" name="basic" bindingConfiguration="BasicHttpBinding_Large" />
    </client>
    <extensions>
      <bindingExtensions>
        <add name="protoBufBinding"
           type="ProtoBuf.Wcf.Channels.Bindings.ProtoBufBindingCollectionElement, ProtoBuf.Wcf.Channels, Version=1.0.0.0, Culture=neutral" />
      </bindingExtensions>
      <behaviorExtensions>
        <add name="protoBufFormatterBehaviour" type="ProtoBuf.Wcf.Channels.Bindings.ProtoBufBindingEndpointBehaviour, ProtoBuf.Wcf.Channels" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
</configuration>